GHL_LOCATION_ID=rSkcMplaQEquu9EZYDDd
GHL_PIT_TOKEN=pit-bc8b50d5-767f-4b8f-9284-4104840baaa0
GHL_CLIENT_ID=6a1168c0cd940200d91c96b3-mpi42z1t
GHL_CLIENT_SECRET=c972e83d-adb0-46f3-8ac5-9648280e60b1
GHL_COMPANY_ID=M7Yw3BKv4jyoGorD02FX
GHL_LOCATION_TOKEN=     # paste current location access_token
GHL_REFRESH_TOKEN=      # paste current refresh_token
PORT=5000
